/* BASE */
html, button, input {
  font-family: 'Eczar', serif;
  font-family: 'Gentium Basic', serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-weight: 100;
  text-align: center;
}
html, input {
  font-size: 2rem;
}
button{
  font-size: .5rem;
}
form {
  /*font-family: 'Gentium Basic', serif;*/
  font-size: .5rem;
}
label.slider{
  font-size:.5rem;
}
h3{
  -webkit-margin-after: 0em;
  margin-left:10%;
  margin-right:10%;
}

html, body, #root {
  height: 100%;
}

h1, h2, h4, h5, h6 {
  /*font-family: $heading-font;*/
  margin-left: 0.5em;
  margin-right: 0.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #000;
}

form {
  overflow: scroll;
}

label {
  cursor: pointer;
  position: relative;
  /*width: 225px;*/
}

.slider {
  font-size: .8rem;
  /*margin: 0.25rem 0 0.5rem 0;*/
}

.slider .slider-label {
  display: block;
  float: left;
}

.slider .slider-label-second {
  float: right;
}
.pa2{
  padding:0rem;
}

.slider input {
  /*margin: 0.5rem 0 0.25rem 0;*/
  width: 80%;
}

/* HELPERS */
.mh-100 {
  max-height: 100%;
}
.m-25 {
  margin: 25%
}
.overflow-scrolling-touch {
  -webkit-overflow-scrolling: touch;
}
.unclick {
  pointer-events: none;
}
.flex-auto-50 {
  flex-basis: 50%;
}
.z--1 {
  z-index: -1;
}
.b--white-opacity {
  border-color: rgba(255, 255, 255, 0.3);
}
.user-select-none, .user-select-none * {
  user-select: none;
}
.will-change-transform {
  will-change: transform;
}
@supports not (will-change: transform) {
  .will-change-transform {
    backface-visibility: hidden;
  }
}
.underline-spaced {
  border-bottom: solid 1px #fff;
}

/* TRANSITION HELPER CLASSES */
.transition-fast {
  transition: all 0.2s ease;
}
.transition-standard {
  transition: all 0.3s ease;
}
.transition-slow {
  transition: all 1s ease;
}
.transition-delay-small {
  transition-delay: 0.2s;
}
.transition-delay-standard {
  transition-delay: 0.3s;
}
.transition-delay-big {
  transition-delay: 1s;
}

/* SURVEY QUESTIONS TRANSITIONS */
@supports (animation-fill-mode: forwards) {
  .fade-in-up-enter {
    display: none;
  }
  .fade-in-up-appear {
    display: none;
  }
  .survey-card {
    animation: fade-in-up 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
  .survey-card.fade-in-up-leave {
    animation: fade-out-down 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
  .survey-viz-results {
    animation: size-in-down 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}
@supports not (animation-fill-mode: forwards) {
  .fade-in-up-appear {
    display: block;
  }
  .fade-in-up-enter {
    display: block;
  }
  .fade-in-up-leave {
    display: none;
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes size-in-down {
  from {
    opacity: 0;
    height: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    height: 280px;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}

.survey-viz-results {
  height: 280px;
}

/* SURVEY COMPONENT */
/* (orientation: landscape) */
.survey {
  flex-direction: row;
}
.survey-second-half {
  order: -1;
}
.dn-portrait {
  display: block;
}
.dn-landscape {
  display: none;
}
/* SURVEY BOX TRANSITIONS */
.survey-centered {
  transform: translate3d(50%, 0, 0);
}
.survey-canvas-expanded {
  transform-origin: left center;
  transform: scaleX(2) translateZ(0);
}

.survey-card {
  width: 100%;
  padding: 0 1rem;
}
/* (orientation: portrait) */
@media (max-aspect-ratio: 13/9) and (max-width: 1020px) {
  .survey {
    flex-direction: column;
  }
  .survey-second-half {
    order: 0;
  }
  .dn-portrait {
    display: none;
  }
  .dn-landscape {
    display: block;
  }
  /* SURVEY BOX TRANSITIONS */
  .survey-centered {
    transform: translate3d(0, -50%, 0);
  }
  .survey-canvas-expanded {
    transform-origin: center bottom;
    transform: scaleY(2) translateZ(0);
  }
}

/* BUTTON COMPONENT */
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: -1;
}
.button::after {
  opacity: 0;
  transition: opacity 0.1s ease;
}
.button:hover::after {
  opacity: 0.05;
}
.button:active::after {
  opacity: 0.12;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
    opacity: 0.6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity: 0.6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity: 0.6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
   opacity: 0.6;
}
